<link rel="stylesheet" href="/css/main.css">
<form action="/cart" method="post">
    <button type="submit" class="btn" id="addToCart">Add to cart</button>
    <input type="hidden" name="productId" value="<%= product._id %>">
</form>